body {
    display: flex;
    background-color: pink;
    flex-direction: column;
}

.heading {
    display: flex;
    width: 100%;
    justify-content: center;
}

.quiz-container {
    justify-content: center;
}