* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B29CC4;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.heading {
    display: flex;
    width: 100%;
    background-color: #463355;
    color: #fff;
    justify-content: center;
    padding: 20px;
}

.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer {
    background-color: #72477A;
    display: flex;
    width: 100%;
    margin-top: auto;
    padding: 20px;
}

.links {
    display: flex;
    width: 100%;
}

.click-links {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#welcome-section {
    display: flex;
    background-color: #B29CC4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#start-btn {
    background-color: #463355;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#quiz-section {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#question-container {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#result-section {
    display: flex;
    background-color: #B29CC4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}