body {
    display: flex;
    width: 100%;
    background-color: #B29CC4;
    flex-direction: column;
    top: 0;
    left: 0;
}

.heading {
    display: flex;
    width: 100%;
    background-color: #463355;
    justify-content: center;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
}

.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer {
    background-color: #72477A;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
}

.links {
    display: flex;
    width: 100%;
}

.click-links {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}